<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<bean id="geoTiffConnection" class="com.intetics.atrotskov.connection.impl.ConnectionGeoTiffImpl">
		<constructor-arg index="0" ref="catalog" />
		<constructor-arg index="1" ref="dataDirectory" />
	</bean>

	<bean id="measurementController" class="com.intetics.atrotskov.controller.MeasurementController">
		<constructor-arg index="0" ref="geoTiffConnection" />
		<constructor-arg index="1" ref="serviceMTools" />
	</bean>
	
	<bean id="checkerDao" class="com.intetics.atrotskov.dao.impl.CheckerDaoImpl"></bean>
	
	<bean id="polygonDao" class="com.intetics.atrotskov.dao.impl.PolygonDaoImplTest">
		<constructor-arg index="0" ref="geoTiffConnection" />
		<constructor-arg index="1" ref="checkerDao" />
	</bean>
	
	<bean id="pointDao" class="com.intetics.atrotskov.dao.impl.PointDaoImpl">
		<constructor-arg index="0" ref="geoTiffConnection" />
		<constructor-arg index="1" ref="checkerDao" />
	</bean>
	
	<bean id="transformator" class="com.intetics.atrotskov.transformator.impl.TransformatorImpl">
		<constructor-arg index="0" ref="geoTiffConnection" />
	</bean>
	
	<bean id="serviceMTools" class="com.intetics.atrotskov.service.impl.ServiceGeoTiffImpl">
		<constructor-arg index="0" ref="polygonDao" />
		<constructor-arg index="1" ref="transformator" />
		<constructor-arg index="2" ref="pointDao"/>
		<constructor-arg index="3" ref="checkerDao" />
	</bean>

	<bean id="measurementControllerImpl" class="org.geoserver.platform.Service">
		<constructor-arg index="0" value="measurementToolsService" />
		<constructor-arg index="1" ref="measurementController" />
		<constructor-arg index="2" value="1.0.0" />
		<constructor-arg index="3">
			<list>
				<value>getPolygonData</value>
				<value>getPointData</value>
			</list>
		</constructor-arg>
	</bean>
		
</beans>